@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Tailwind Overrides / Base additions */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
